@import-normalize;

:root {
    --bg-primary: #ccffe0;

    --fc-primary: rgb(36, 36, 36);
    --fc-bubble: rgb(255, 61, 61);
}

/* Reset  */

html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ol,
ul,
a {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: var(--fc-primary);
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* variables  */

/* Utilities  */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: 1rem;
}

.grid {
    display: grid;
    gap: 1rem;
}

/* Header  */

.header {
    position: relative;
    background-color: var(--bg-primary);
    padding: 1.5rem 0;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
}

.header li {
    margin: 0 2em;
}

.header a:hover {
    text-decoration: underline;
    /* TODO: add animated underline */
}

/* Home */

.home {
    background-color: var(--bg-primary);
    overflow: hidden;
}

.home-left,
.home-right {
    z-index: 5;
}

.home .grid {
    grid-template-columns: 1fr 1fr;
    padding: 35vh 0;
}

.home .grid > * {
    width: 400px;
}

.home .flex {
    justify-content: center;
    align-items: center;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-buttons p {
    text-align: center;
}

.home-buttons * + * {
    margin-top: 0.3em;
}

.home-buttons input {
    width: fit-content;
    margin-right: 1rem;
}

.home-buttons button {
    width: fit-content;
    margin-left: auto;
}

/* Bubbles  */

.bubbles {
    position: relative;
}

.bubbles > * {
    position: absolute;
    background-color: var(--fc-bubble);
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: animateBubbles linear infinite;
}

.bubble-1 {
    width: 500px;
    height: 500px;
    top: 20vh;
    right: 20vw;
    animation-duration: 300s;
}

.bubble-2 {
    width: 250px;
    height: 250px;
    top: 10vh;
    left: 20vw;
    animation-duration: 120s;
    animation-direction: reverse;
}

.bubble-3 {
    width: 80px;
    height: 80px;
    top: 70vh;
    left: 30vw;
    animation-duration: 100s;
}

/* Keyframes */

@keyframes animateBubbles {
    from {
        transform: rotate(0deg) translateX(7vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(7vw) rotate(-360deg);
    }
}
