@import-normalize;

:root {
    --bg-primary: #ccffe0;

    --fc-primary: rgb(36, 36, 36);
}

/* Reset  */

html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ol,
ul,
a {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: var(--fc-primary);
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* variables  */

/* Utilities  */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: 1rem;
}

/* Header  */

.header {
    position: relative;
    z-index: 1;
    background-color: var(--bg-primary);
    padding: 1.5rem 0;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
}

.header li {
    margin: 0 2em;
}

.header a:hover {
    text-decoration: underline;
    /* TODO: add animated underline */
}

/* Home */

.home {
    background-color: var(--bg-primary);
}

.home .flex {
    justify-content: center;
    padding: 20vh 0;
}
